<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spiderlink.domain.messageinstance.mapper.MessageInstanceMapper">

    <insert id="insert">
        INSERT INTO FWK_MESSAGE_INSTANCE (
            MESSAGE_SNO,
            TRX_ID,
            ORG_ID,
            IO_TYPE,
            REQ_RES_TYPE,
            MESSAGE_ID,
            TRX_TRACKING_NO,
            USER_ID,
            LOG_DTIME,
            LAST_LOG_DTIME,
            LAST_RT_CODE,
            INSTANCE_ID,
            RETRY_TRX_YN,
            MESSAGE_DATA,
            TRX_DTIME,
            CHANNEL_TYPE,
            URI,
            SUCCESS_YN
        ) VALUES (
            #{messageSno},
            #{trxId},
            #{orgId},
            #{ioType},
            #{reqResType},
            #{messageId},
            #{trxTrackingNo},
            #{userId},
            #{logDtime},
            #{lastLogDtime},
            #{lastRtCode},
            #{instanceId},
            #{retryTrxYn},
            #{messageData},
            #{trxDtime},
            #{channelType},
            #{uri},
            #{successYn}
        )
    </insert>

</mapper>
